<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>

</body>

<script src="../static/js/map.js"></script>
<script type="text/javascript">

    //登录操作
    var LOGINREQUESTTYPE = 10000;

    var socket;
    if(!window.WebSocket){
        window.WebSocket = window.MozWebSocket;
    }


    if(window.WebSocket){
        socket = new WebSocket("ws://127.0.0.1:9090");
        socket.onmessage = function(event){
            console.log("接收服务端消息");
            console.dir(event);
            console.log("------------------------------------");
        };
        socket.onopen = function(event){
            console.log("连接成功");
            console.dir(event);
            console.log("------------------------------------");

        };
        socket.onclose = function(event){
            console.log("连接关闭");
            console.dir(event);
            console.log("------------------------------------");
        };
    }else{
        alert("您的浏览器不支持WebSocket协议！");
    }
    function send(message){
        if(!window.WebSocket){return;}
        if(socket.readyState == WebSocket.OPEN){
            socket.send(message);
        }else{
            alert("WebSocket 连接没有建立成功！");
        }
    }

    /**
     * 登录
     * @author 杨帮东
     * @type {VoidFunction}
     */
    function login() {
        var obj = new Object();
        obj.userId = new Date().getTime();
        obj.groupId = 1000;
        obj.name = "测试昵称" + new Date().getTime();
        obj.requestType = LOGINREQUESTTYPE;
        send(JSON.stringify(obj));
    }




</script>
</html>